.footer__column_content_info {
    margin: 0;
    padding: 0;
    gap: 20px 0px;
  }
  @media screen and (max-width: 320px) {
    .footer__column_content_info {
        gap: 32px;
    }
    
  }