.lead {
    max-width: 984px;
    margin: 0px 148px 0px 148px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 91vw;
        margin: 0px 48px 0px 48px;
    }

}

@media screen and (max-width: 927px) {
    .lead {
        max-width: 100%;
        margin: 0;
    }

}

@media screen and (max-width: 696px) {
    .lead {
        align-items: center;
    }

}

@media screen and (max-width: 320px) {
    .lead {
        align-items: flex-start;
    }
    
}