.cover__title {
    max-width: 560px;
    margin: 0;
    padding: 0;
    gap: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 450px;
        font-size: 60px;
        line-height: 68px;
        gap: 16px;
    }
    
}

@media screen and (max-width: 450px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
    
}