.cover__title {
    max-width: 560px;
    max-height: 152px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    white-space: pre-line;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
}

@media screen and (max-width: 767px) and (min-width: 450px) {
    .cover__title {
        max-width: 450px;
        font-size: 60px;
        line-height: 68px;
        margin-bottom: 16px;
    }
    
}

@media screen and (max-width: 450px) and (min-width: 0px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
    
}