.lead__image {
    min-width: 100%;
    min-height: 615px;
    background-image: url("../../../images/lead-polka.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .lead__image {
        margin: 0;
        padding: 0;
    }
    
}