.place__url-heading {
  text-transform: uppercase;
  max-width: 456px;
  margin: 0px 0px 12px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media screen and (max-width: 340px) {
  .place__url-heading {
    max-width: 288px;
    margin-left: 16px;
  }
}